.header {
  background: #364051;
}

.header__content {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

.header__title {
  color: white;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__title img{
  height: 30px;
  margin-left: 15px;
}

.header__title h2 {
  margin: 0;
}